.card{
    cursor: pointer;
}
.card-box-shadow{
    box-shadow: 0 0 6px rgb(233, 30, 99);
}
.generator-positioning{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.v-row{
    width: 100%;
}
.v-card-item{
    display: flex;
}
.v-card-item__prepend{
    margin: 0 auto;
    padding: 0;
}
.v-card-text{
    text-align: center;
}

